//truck icon
.bi-truck {
  color: $primary-400;
  font-size: 24px;
  padding-left: 16px;
  padding-right: 12px;
}

//收藏頁的卡片
.collection-card {
  a {
    color: inherit;
  }
}
//卡片資訊
.collection-info {
  width: 100%;
}
